<footer>
    <div class="mayor">
        <div>
            <img src="assets/img/GitHub-Mark_cafe.png" alt="Logo de Github" />
        </div>
        <div>
            <a href="https://github.com/LadyDi3103" target="_blank"> Diana Quispe</a>
        </div>
        <div>
            <img src="assets/img/GitHub-Mark_cafe.png" alt="Logo de Github" />
        </div>
        <div>
            <a href="https://github.com/HicoTico/" target="_blank"> Indira Davoin </a>
        </div>
        <div class="reserved">
            ©Derechos Reservados
        </div>
    </div>
</footer>