<!-- <p>edit-product-modal works!</p> -->
<!-- M O D A L  C R E A T E  P R O D U C T -->
<!-- <div class="modal" *ngIf="showModalEditProduct">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <form class="form" [formGroup]="productForm" (ngSubmit)="onSave()">
        <h1 class="title">Create Product</h1>
        <div class="inputContainer">
          <input class="input" type="name" id="name" formControlName="name" name="user_name" placeholder="a"
            title="El email es incorrecto" placeholder="Large Coffe" required>
          <label for="" class="label">Name Product</label>
        </div>
  
        <div class="inputContainer">
          <input class="input" type="price" formControlName="price" id="price" name="user_price"
            placeholder="0000" required>
          <label for="" class="label">Price</label>
        </div>
  
        <div class="inputContainer">
          <input class="input" type="text" formControlName="image" id="image" required>
          <label for="" class="label">Image</label>
        </div>
  
        <div class="inputContainer">
          <input class="input" type="text" formControlName="type" id="type" name="type" placeholder="a" required>
          <label for="" class="label">Type</label>
        </div>
        <button class="addeMployee">Edit Product</button>
      </form>
    </div>
  </div> -->
