.ContainerOptionsMenu{
    display: flex;
    border:0;
}
button>img{
    width: 85%;
    height: 85%;
    border: 0;
    /* display: inline-block; */
    }
#button-exit{
    height:15%;
    width:11%;
    margin-bottom: 10px;
    border: 0;
}