<label for="clientsName"><b>Clients Name:</b> {{orderOne.client}} </label>
<hr />
<label for="nOrder"><b>Order Id:</b> {{orderOne.id}}</label>
<hr />

<label for="resumeOrder" class="resumeOrder"><b>Resume Order:</b></label>
<div class="orderResume">
    <p *ngFor=" let item of orderOne.products"> {{item.qty}} {{item.product.name}}</p>
</div>

<div class="containerBottom">
    <div class="timer">
        <div>
            <label for="resumeOrder" class="resumeOrder"><b>Date:</b></label>
            <p>{{ orderOne.dataEntry }}</p>
        </div>
        <div>
            <!-- <p> Timer: 00:16:58 </p> -->
            <app-timer *ngIf="orderOne.dataEntry != undefined" (stopTimerTimer)="setTime($event)" [dataEntry]="orderOne.dataEntry" [stop]="stop"></app-timer>
            <!-- <div *ngIf="time != undefined "> {{time}}</div> -->
        </div>
    </div>
    <hr />
    <button class="btnCustom" [ngClass]="{'red-button': !buttonState, 'green-button ': buttonState}" (click)="toggleButtonState()">
        {{ buttonState ? 'To Deliver' : 'To Prepare' }}
    </button>
</div>