* {
    color: var(--color-2);
    font-family: var(--font-family-1);
    font-style: italic;
}
@media (min-width: 900px) {
    .container-menu {
        padding-right: 5px;
        max-width: 100%;
        min-height: 82vh;
    }
    .icons-Breakfast {
            width: 226.5px;
            height: 142px;
    }
}

.container-menu {
    padding-right: 5px;
    max-width: 100%;
    min-height: 70vh;
}
.btns {
    display: flex;
}

.labels {
    font-size: 19px;
    padding-left: 5px;
}
.labelsMeals {
    font-size: 19px;
    padding-left: 5px;
}
.breakfast {
    padding-top: 20px;
    width: 228px;
    height: 180px;
    background: var(--color-6);
    border: none;
    border-top: 2px solid var(--color-2);
    border-left: 2px solid var(--color-2);
    border-bottom: 2px solid var(--color-4);
    border-radius: 25px 10px 0px 0px;
}
.meals {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 228px;
    height: 180px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: var(--color-4);
    border: none;
    border-top: 2px solid var(--color-2);
    border-left: 2px solid var(--color-2);
    border-right: 2px solid var(--color-2);
    border-radius: 25px 10px 0px 0px;
}
.imgBreakfast, .imgMeal {
    width: 80%;
    height: 80%;
    border: 0;
}
.ngDrinks{
    height: 600px;
}
.drinks,
.brunch {
    background: var(--color-6);
    border-right: 2px solid var(--color-2);
    overflow-y: auto;
    height: 550px;
}

.Hamburguer, 
.Pizzas{
    overflow-y: auto;
    height: 550px;
    background: var(--color-4);
    border-right: 2px solid var(--color-2);
}
.icons-Breakfast {
    width: 226.5px;
    height: 142px;
    background-color: transparent;
    border: none;
}
.imgProduct{
    width: 25%;
    height: 35%;
    border: 0;
}
.namePrice{
font-size: 15px ;
color: var(--color-2);
font-family: var(--font-family-1);
}
