<!-- menu -->
<div class="container-menu">
    <div class="btns">
        <!-- BOTONES TIPO TAB BREAKFAST AND MEALS -->
        <div>
            <button (click)="showTabContent('option1')" class="breakfast">
                <img class="imgBreakfast" src="../../../../../../../assets/img/btn_Breakfast_red.png"
                    alt="Option 1 MENU">
            </button>
        </div>
        <div>
            <button (click)="showTabContent('option2')" class="meals">
                <img class="imgMeal" src="../../../../../../../assets/img/btn_ham_green.png" alt="Option 2 MENU">
            </button>
        </div>
        <!-- BOTONES TIPO TAB BREAKFAST AND MEALS TERMINA -->
    </div>
    <!-- OPTION1 -->
    <ng-container class="ngDrinks"  *ngIf="selectedMenu === 'option1'">
        <div class="drinks">
            <div>
                <button *ngFor="let product of APIDATA" (click)="selectProduct(product)"
                    class="icons-Breakfast">
                    <img class="imgProduct" src={{product.image}}>
                    <div class="namePrice">
                        <p>{{product.name}}</p>
                    </div>
                    <div class="namePrice">
                        <p>$ {{product.price}} </p>
                    </div>
                </button>
            </div>
        </div>
    </ng-container>

    <!-- OPTION2 -->
    <ng-container *ngIf="selectedMenu === 'option2'">
        <div class="Hamburguer">
            <div>
                <button *ngFor="let product of APIDATA" (click)="selectProduct(product)"
                    class="icons-Breakfast">
                    <img class="imgProduct" src={{product.image}}>
                    <div class="namePrice">
                        <p>{{product.name}}</p>
                    </div>
                    <div class="namePrice">
                        <p>$ {{product.price}} </p>
                    </div>
                </button>
            </div>
        </div>
    </ng-container>
</div>