<div class="body">
  <div class="signupFrm">
    <!-- <p class="waiterName"> Chef:</p> -->
      <form class="form" (ngSubmit)="onSubmit()">
        <h1 class="title">Register User</h1>
  
        <div class="inputContainer">
          <input class="input" type="email" id="mail" [(ngModel)]="email" name="user_mail" placeholder="a"
          title="El email es incorrecto" placeholder="ejemplo@ejemplo.com" required>>
          <label for="" class="label">Email</label>
        </div>
  
        <div class="inputContainer">
          <input class="input" type="password" [(ngModel)]="password" id="password" name="user_password"
          placeholder="**********" id="password" required>
          <label for="" class="label">Password</label>
        </div>
  
        <div class="inputContainer">
          <input type="text" class="input" [(ngModel)]="rol" id="rol" name="rol" placeholder="a" required>
          <label for="" class="label">rol</label>
        </div>
      </form>
    </div>
    </div>
<!--   

<!-- <div class="modalCreateEmployee">
    <hr>
    <form> -->
        <!-- <button class="add-employee" (click)="openModal()">Create Employee</button>
        <hr>
        <span class="closeModal" (click)="closeModal()">&times;</span>
   
        <button type="submit">Add Employee</button>
        <button type="button" (click)="closeModal()">Cancel</button>
        <hr>
    </form>
</div>
<div>
    <ul>
        <li *ngFor="let user of users">
          Email: {{ user.email }} - Rol: {{ user.role }}
        </li>
      </ul> -->
