<!-- <app-header-home-waiter></app-header-home-waiter> -->
<div class="containerGeneral">
  <p class="adminName">Admin: {{ adminName }}</p>
  <div class="btnHead">
    <div class="btnTags">
      <button (click)="showTabContent('option1')" class="tagEmployee">
        Employee
      </button>
      <button (click)="showTabContent('option2')" class="tagProducts">
        Products
      </button>
    </div>
    <ng-container *ngIf="selectedMenu === 'option1'">
      <div class="btnAdd">
        <button class="addEmployee" (click)="openModalRegisterEmployee()">
          Create Employee
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedMenu === 'option2'">
      <div class="btnAddProducts">
        <button class="addProducts" (click)="openModalCreateProduct()">
          Create Products
        </button>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="selectedMenu === 'option1'">
    <label for="admin" class="labels" for="line">A D M I N</label>
    <hr />
    <section *ngIf="adminUsers.length > 0" class="user">
      <ul style="list-style: none" class="ulUsers">
        <!-- SOLO RECORRE EL adminUsers -->
        <li *ngFor="let user of adminUsers">
          {{ user.email }}
          <button (click)="showInfoModalEdit(user)" class="btnEdit">Edit</button>
          <button (click)="openDeleteUserModal(user.id)" class="btnDelete">Delete</button>
        </li>
      </ul>
    </section>

    <label for="chef" class="labels">C H E F</label>
    <hr />
    <section *ngIf="chefUsers.length > 0" class="containerAdmin">
      <ul style="list-style: none" class="ulUsers">
        <li *ngFor="let user of chefUsers" class="user">
          {{ user.email }}

          <button (click)="showInfoModalEdit(user)" class="btnEdit">Edit</button>
          <button (click)="openDeleteUserModal(user.id)" class="btnDelete">Delete</button>

        </li>
      </ul>
    </section>

    <label for="waiter" class="labels">W A I T E R</label>
    <hr />
    <section *ngIf="waiterUsers.length > 0" class="user">
      <ul style="list-style: none" class="ulUsers">
        <li *ngFor="let user of waiterUsers" class="prueba">
          {{ user.email }}
          <button (click)="showInfoModalEdit(user)" class="btnEdit">Edit</button>
          <button (click)="openDeleteUserModal(user.id)" class="btnDelete">Delete</button>
        </li>
      </ul>
    </section>

  </ng-container>
  <!-- P R O D U C T S -->
  <ng-container *ngIf="selectedMenu === 'option2'">
    <div class="drinks">
      <div class="labels">
        <label class="labels" for="line">Breakfast</label>
        <hr />
      </div>
      <div class="containerProducts">
        <button *ngFor="let product of APIDATA" (click)="openModalEditProduct()" class="icons-Breakfast">
          <img class="imgProduct" src="{{ product.image }}" />
          <div class="namePrice">
            <p>{{ product.name }}</p>
          </div>
          <div class="namePrice">
            <p>$ {{ product.price }}</p>
          </div>
        </button>
      </div>
    </div>
    <!-- <div class="brunch">
      <div class="labels">
        <label class="labels" for="line">Brunch</label>
        <hr />
      </div>
      <div class="contanerProducts">
        <button *ngFor="let product of menuItem.brunch" (click)="selectProduct(product)" class="icons-Breakfast">
          <img class="imgProduct" src="{{ product.image }}" />
          <div class="namePrice">
            <p>{{ product.name }}</p>
          </div>
          <div class="namePrice">
            <p>$ {{ product.price }}</p>
          </div>
        </button>
      </div>
    </div> -->
  </ng-container>
</div>
<!-- M O D A L  R E G I S T E R  U S E R -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="title">Register User</h1>
      <div class="inputContainer">
        <input class="input" type="email" id="mail" formControlName="email" name="user_mail" placeholder="a"
          title="El email es incorrecto" placeholder="ejemplo@ejemplo.com" required>
        <label for="" class="label">Email</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="password" formControlName="password" id="password" name="user_password"
          placeholder="**********" id="password" required>
        <label for="" class="label">Password</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="text" formControlName="role" id="role" name="role" placeholder="a" required>
        <label for="" class="label">role</label>
      </div>
      <button class="addeMployee">Create Employee</button>
    </form>
  </div>
</div>
<!-- M O D A L  C R E A T E  P R O D U C T -->
<div class="modal" *ngIf="showModalProduct">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <form class="form" [formGroup]="form" (ngSubmit)="createProducts()">
      <h1 class="title">Create Product</h1>
      <div class="inputContainer">
        <input class="input" type="name" id="name" formControlName="name" name="user_name" placeholder="a"
          title="El email es incorrecto" placeholder="Large Coffe" required>
        <label for="" class="label">Name Product</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="price" formControlName="price" id="price" name="user_price" placeholder="0000"
          required>
        <label for="" class="label">Price</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="text" formControlName="image" id="image" required>
        <label for="" class="label">Image</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="text" formControlName="type" id="type" name="type" placeholder="a" required>
        <label for="" class="label">Type</label>
      </div>
      <button class="addeMployee">Create Product</button>
    </form>
  </div>
</div>
<!-- M O D A L  E D I T A R  U S U A R I O -->
<div class="modal" *ngIf="showModalEdit">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <form class="form" [formGroup]="form" (ngSubmit)="editDataUser()">
      <h1 class="title">Edit User</h1>
      <div class="inputContainer">
        <input class="input" type="email" id="mail" formControlName="email" name="user_mail" placeholder="a"
          title="El email es incorrecto" placeholder="ejemplo@ejemplo.com" required value="HOLA">
        <label for="" class="label">Email</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="password" formControlName="password" id="password" name="user_password"
          placeholder="**********" id="password" value="password">
        <label for="" class="label">Password</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="text" formControlName="role" id="role" name="role" placeholder="a"
          value={{oneUser.role}} required>
        <label for="" class="label">role</label>
      </div>
      <button class="addeMployee">Edit Employee</button>
    </form>
  </div>
</div>
<!-- M O D A L  E D I T A R  P R O D U C T O -->
<!-- <div class="modal" *ngIf="showModalEditProduct">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <form class="form" [formGroup]="form" (ngSubmit)="editinProduct()">
      <h1 class="title">Edit Product</h1>
      <div class="inputContainer">
        <input class="input" type="name" id="name" formControlName="name" name="user_name" placeholder="a"
          title="El email es incorrecto" placeholder="Large Coffe" required>
        <label for="" class="label">Name Product</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="price" formControlName="price" id="price" name="user_price"
          placeholder="0000" required>
        <label for="" class="label">Price</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="text" formControlName="image" id="image" required>
        <label for="" class="label">Image</label>
      </div>

      <div class="inputContainer">
        <input class="input" type="text" formControlName="type" id="type" name="type" placeholder="a" required>
        <label for="" class="label">Type</label>
      </div>
      <button class="addeMployee">Edit Product</button>
    </form>
  </div>
</div> -->