<!-- R E A C T I V E  F O R M  -->
<div class="containerForm">
  <form [formGroup]="form" class="tabla" (ngSubmit)="(onSubmit)">
    <!-- E N C A B E Z A D O  -->
    <div class="headForm">
      <label for="clientsName">Client: </label>
      <input type="text" id="clientsName" formControlName="clientsName" placeholder="Clients name" />
      <hr>
      <label for="nOrder">N° Order: {{ numOrder }}</label><br />
      <span></span>
      <hr>
      <label for="nTable">N° Table: </label>
      <input type="number" class="numTable" id="nTable" min="0" max="20" formControlName="numTable" />
    </div>
    <!-- ------------------- -->
    <!-- R E N D E R I Z A  R E S U M E N  O R D E N-->
    <div class="containerRender">
      <div class="order" *ngFor="let product of newItem">
        <button class="btn-Des" (click)="decrease(product)">-</button>
        <span class="Number1"> {{ product.qty }} </span>
        <button class="btn-Plus" (click)="increase(product)">+</button>
        <span class="item">{{ product.product.name }} </span>
        <span class="priceItem"> ${{ product.product.price }} </span>
        <span class=" priceItem"> ${{ product.product.price * product.qty}}</span>
        <div class="containerBtn">
          <button (click)="deselectProduct(product)" class="iconDelete">
            <span class="material-symbols-outlined"> delete </span>
          </button>
        </div>
      </div>
    </div>
    <!-- T O T A L   O R D E R -->
    <hr>
    <div class="totalOrder">
      <span class="totalOrder1"> Total: </span>
      <span class="priceTag"> ${{calculateTotalCost()}}</span>
      <!-- se renderiza porque está escuchando -->
    </div>

    <div class="btnOrdered">
      <button (click)="onSubmit()" class="btnSubmit">Submit Order</button>
      <button (click)="cancelOrder()" class="btnCancel">Cancel Order</button>
    </div>



  </form>
</div>