* {
  color: var(--color-2);
  font-family: ubuntu;
  font-style: italic;
}
.containerGeneral {
  margin: auto;
  background-image: url(../../../../assets/img/LogoBackGround_waiter.png);
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 50vh;
}
.chefName,
.Number1 {
  margin-bottom: 7px;
  font-size: 22px;
  margin-top: 0px;
  padding-left: 25px;
}
.tagToPrepare {
  padding-top: 20px;
  width: 49%;
  height: 100%;
  background: var(--color-4);
  border: none;
  border-top: 2px solid var(--color-2);
  border-left: 2px solid var(--color-2);
  border-bottom: 2px solid var(--color-4);
  border-radius: 25px 10px 0px 0px;
  font-size: 30px;
}
.tagToDeliver {
  padding-top: 20px;
  width: 49%;
  height: 100%;
  background: var(--color-6);
  border: none;
  border-top: 2px solid var(--color-2);
  border-left: 2px solid var(--color-2);
  border-bottom: 2px solid var(--color-4);
  border-radius: 25px 10px 0px 0px;
  font-size: 30px;
}
.containerOrders {
  max-width: 100%;
  height: 1000px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
.order {
  margin: 10px;
  padding: 5px 10px;
  width: 334px;
  height: 470px;
  color: var(--color-2);
  font-family: var(--font-family-1);
  font-style: italic;
  font-size: 20px;
  background: var(--color-4);
  box-shadow: 5px 5px 5px var(--color-2);
  border-radius: 5px;
}

