<section class="containerGeneral">
  <p class="chefName">Chef: {{ chefName }}</p>
  <div class="btnTags">
    <button (click)="showTabContent('pending')" class="tagToPrepare">
      To Prepare
    </button>
    <button (click)="showTabContent('delivered')" class="tagToDeliver">
      To Deliver
    </button>
  </div>
  <div class="containerOrders">
    <!-- Revisar sí se puede de alguna manera llamar para renderizar los arrays delivered orders and pending orders -->
    <ng-container *ngIf="selectedFilter === 'pending'">
      <div *ngFor="let order of orders" class="order">
        <app-cards [orderOne]=order></app-cards>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedFilter === 'delivered'">
      <div *ngFor="let order of orders" class="order">
        <app-cards [orderOne]=order></app-cards>
      </div>
    </ng-container>
  </div>
</section>
<!--  -->

