@media (min-width: 900px) {
    .ContainerOptionsMenu {
        max-width: 100%;
        height: 170px;
        display: flex;
        background: var(--color-6);
        border: 0;
        justify-content: center;
    }
    .btn-header {
        margin-left: 30px; 
    }
    .btn-logOut {
        width: 80px;
        height: 70%;
        /* margin-top: 25px;
        margin-left: 15px;
        background-color: transparent;
        border: none; */
    }
    
}
.ContainerOptionsMenu {
    max-width: 100%;
    height: 170px;
    display: flex;
    /* background: blue; */
    border: 0;
    align-items: center;
}

.btn-header {
    width: 220px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
}

.btn-logOut {
    width: 70px;
    height: 80px;
    /* margin-top: 30px; */
    margin-left: 15px;
    background-color: transparent;
    border: none;
}
/* end header */
.imgHeader { /* etiqueta general */
    width: 100%;
    height: 80%;
    border: 0;
    /* display: inline-block; */
}
.imgLogOut{
    width: 100%;
    height: 80%;
    border: 0;
}
.waiterName, .Number1 {
    margin-bottom: 7px;
    font-size: 22px;
    margin-top: 0px;
    padding-left: 25px;
    /* background-color: blue; */
}