* {
    margin: 0;
    padding: 0;
}

.login-view {
    background-image: url(../../../../assets/img/LogoBackGround.png);
    background-position: center;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
}

#button-login {
    background-color: #B3B826;
    letter-spacing: 1.5px;
    width: 30%;
    height: 10%;
    padding: 2.2%;
    margin-top: 1.5%;
    border-radius: 8px;
    color: black;
    font-size: 17px;
    align-self: center;
}
.container-login{
    margin-bottom: 50%;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
    width: 500px;
    height: 500px;
    align-self: center;
    margin-left: 140px;
}
.imgLogin{
    display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10%;
        max-width: 50%;
        max-height: 50%;
}
.btn{
    width: 90%;
    height: 50px;
    padding-left: 4%;
    border: 2px solid black;
    border-radius: 5px;
    margin-block-start: 1%;
    margin-block-end: 3%;
}
