<div class="login-view">
    <div id="container-logo">
        <img class="imgLogin" src="../../../../assets/img/LogoBurguer.png" alt="Imagen de logo en forma de hamburguesa">
    </div>
    <div class="container-login">
        <form action="" id="form-login">
            <label for="mail">EMAIL</label>
            <input class="btn" type="email" id="mail" name="user_mail" title="El email es incorrecto"
                placeholder="ejemplo@ejemplo.com" required />
            <!-- <p id="errorEmail" class=input-error>*Enter a valid email.</p> -->
            <label for="password">PASSWORD</label>
            <div class="icon-login">
                <span class="icon-eye" id="icon-password">
                    <!-- <i class="fa-regular fa-eye-slash"></i> -->
                </span>
                <input class="btn" type="password" id="password" name="user_password" placeholder="**********"
                    required />
            </div>
            <!-- <p id="errorPassword" class=input-error>*Password [5-10] characteres. </p> -->
            <button id="button-login" type="submit">Login</button>
        </form>
    </div>
</div>
<app-footer></app-footer>