<section class="login-view"> <!--ngstyle/ngclass-->
    <div>

    </div>
    <div>
        <div class="container-logo">
            <img class="imgLogin" src="../../../../assets/img/LogoBurguer.png" alt="Imagen de logo Burger Queen ">
        </div>
        <div class="containerLogin">
            <form class="formLogin" (ngSubmit)="onSubmit()">
                <label for="email">Email:</label>
                <input class="inputS" type="email" id="mail" [(ngModel)]="email" name="user_mail"
                    title="El email es incorrecto" placeholder="ejemplo@ejemplo.com" required>
                <!-- <div *ngIf="errorMessageEmail" class="error-message-email">{{errorMessageEmail}}</div> -->
                <label for="password">Password:</label>
                <input class="inputS" type="password" [(ngModel)]="password" id="password" name="user_password"
                    placeholder="**********" id="password" required>
                <!-- <div *ngIf="errorMessagePassword" class="error-message-password">{{errorMessagePassword}}</div> -->
                <!-- <div class="errorMessage"> -->
                <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
                <!-- </div> -->
                <div class="containerBtn">
                    <button class="btnLogin" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>